<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스프링 게시판 토이 프로젝트</title>

    <!-- Bootstrap -->
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="bootstrap" viewBox="0 0 118 94">
            <title>Bootstrap</title>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
        </symbol>
    </svg>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- summernote editor -->
    <script th:src="@{/summernote/js/summernote-lite.js}" src="../summernote/js/summernote-lite.js"></script>
    <script th:src="@{/summernote/js/lang/summernote-ko-KR.js}"
            src="../summernote/js/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" th:href="@{/summernote/css/summernote-lite.css}"
          href="../summernote/css/summernote-lite.css"/>

    <style>
        body {
            min-height: 100vh;
        }

        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        @media (min-width: 992px) {
            .container {
                width: 50vw;
            }
        }

        a {
            text-decoration: none;
        }

        .title {
            font-size: 1.5rem;
            width: 100%;
            height: 55px;
        }
        .title::placeholder {
            font-size: 1.5rem;
            font-style: italic;
        }

        .field-error {
            border-color: #dc3545;
        }
    </style>

    <script>
        $(document).ready(function() {
           $('#summernote').summernote({
              minHeight: 450,             // 에디터 높이
              focus: true,                // 에디터 로딩후 포커스를 맞출지 여부
              lang: "ko-KR",
              placeholder: '최대 10,000자까지 작성할 수 있습니다.',

              toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'style']],
                ['para', ['ul', 'ol']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video', 'hr']],
                ['view', ['help']],
              ],

              styleTags: [ 'h1', 'h2', 'h3'],

              callbacks: {
                onImageUpload: function(images) {
                  uploadImages(images, this); // upload images to server
                }
              }
           });
		})

        function uploadImages(images, el) {
            const formData = new FormData();
            for (var i = 0; i < images.length; i++) {
                formData.append("file", images[i]);
            }

     	    $.ajax({
		        data: formData,
		        type: "POST",
		        url: '/files/upload',
		        contentType: false,
		        processData: false,
		        enctype: 'multipart/form-data',
		        success: function(imageUrls) {
		            imageUrls.forEach((imageUrl) => {
		               console.log(imageUrl);
		               $(el).summernote('insertImage', imageUrl);
		            });
		        }
	        });
	    }
    </script>
</head>

<body class="d-flex flex-column">
<th:block th:replace="/fragments/header.html :: header"></th:block>

<div class="container mt-5">
    <h2 class="board-title fw-bold"><a href="#" class="text-dark" th:text="|${{boardType}} 게시판|">ㅇㅇ 게시판</a></h2>

    <form method="post" th:action th:object="${boardUpdateForm}" class="mt-4">
        <input th:field="*{title}" class="title px-2" placeholder="제목을 입력해주세요." maxlength="40"><!--게시글 제목-->
        <div class="field-error text-danger" th:errors="*{title}"></div>
        <textarea id="summernote" th:field="*{content}"></textarea><!--게시글 내용-->
        <div class="field-error text-danger" th:errors="*{content}"></div>

        <div class="py-3 d-flex justify-content-end">
            <button type="button"
                    th:onclick="|location.href='@{/{boardType}/{boardId} (boardType=${boardType.toLowerCase()}, boardId=${boardId})}'|"
                    class="btn btn-secondary me-3" style="width:80px; height: 40px;">취소
            </button>
            <button type="submit" class="btn btn-success" style="width:80px; height: 40px;">수정</button>
        </div>
    </form>
</div>

<th:block th:replace="/fragments/footer.html :: footer"></th:block>

</body>
</html>