<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스프링 게시판 토이 프로젝트</title>

    <!-- Bootstrap -->
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="bootstrap" viewBox="0 0 118 94">
            <title>Bootstrap</title>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
        </symbol>
    </svg>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <style>
        body {
            font-size: 12px;
            min-height: 100vh;
        }

        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        a {
            color: #333;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }

        .board-type > a {
            font-size: 24px;
            font-family: "Nanum Gothic", sans-serif;
            letter-spacing: -1px;
        }
        .board-type > a:hover {
            text-decoration: none;
        }

        td {
            vertical-align: middle;
        }

        .bd-title a {
            display: inline-block;
            max-width: 86%;
            vertical-align: middle;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .comment-count {
            color: #999999;
            letter-spacing: -0.05em;
        }

        .form-select:focus {
            box-shadow: none !important;
        }
        .form-control:focus {
            box-shadow: none !important;
        }
        .clear::after {
            content: "";
            display: block;
            clear: both;
        }

        .page-link {
            border: none;
        }
    </style>

    <script th:inline="javascript">
        $(document).ready(function() {
           //게시글 검색
           $("#searchBtn").on("click", function(e) {
              const searchTarget = $("#search_target option:selected").val(); // 검색 타겟
              const searchKeyword = $("input:text[name='searchKeyword']").val(); // 검색 키워드

              if (searchKeyword == "") {
                  alert("검색어를 입력하세요.");
                  $("input[name='searchKeyword']").focus();
                  return false;
              }

              const queryParams = new URLSearchParams([[${bdListParams}]]);
              queryParams.set("searchTarget", searchTarget);
              queryParams.set("searchKeyword", searchKeyword); // 검색어 세팅
              queryParams.set("page", 1); // 첫 페이지부터 조회

              location.href = '/' + [[${boardType.toLowerCase()}]] + '?'+queryParams;
           });

           //검색창 엔터
           $("input[name='searchKeyword']").keydown(function(e) {
              if (e.key == 'Enter') {
                  $("#searchBtn").trigger('click');
              }
           });
        });
    </script>
</head>

<body class="d-flex flex-column">
<th:block th:replace="/fragments/header.html :: header"></th:block>

<div class="text-center h-50 mt-5 m-auto" style="width: 850px;" th:object="${boardListPage}" th:with="bdType=${boardType.toLowerCase()}">
    <!-- 스프링 포맷터 적용해서 게시판 명 렌더링 -->
    <h2 class="board-type fw-bold">
        <a th:href="'/' + ${bdType}" class="text-dark" th:text="${{boardType}} + ' 게시판'">게시판 명</a>
    </h2>

    <table class="table table-hover caption-top" style="table-layout: fixed; margin-bottom: 10px;">
        <caption>
            <button type="button" class="btn text-white float-end px-2"
                    style="font-size: 14px; border-radius: 4px; background-color: #3e4042;"
                    th:onclick="|location.href='@{/{boardType}/write (boardType=${boardType.toLowerCase()})}'|">
                <i class="fa-solid fa-pencil me-2"></i>글쓰기
            </button>
        </caption>
        <colgroup>
            <col style="width:6%;">
            <col>
            <col style="width:16%;">
            <col style="width:8%;">
            <col style="width:6%;">
            <col style="width:6%;">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">작성일</th>
            <th scope="col">조회</th>
            <th scope="col">추천</th>
        </tr>
        </thead>
        <!-- 제목 a태그 max-width: 82%;-->
        <tbody class="table-group-divider">
        <!-- 게시글 리스트 템플릿 -->
        <tr th:each="board : *{content}">
            <td style="font-size: 11px;" th:text="${board.id}">게시글 번호</td>
            <td class="bd-title" style="text-align: left;">
                <a th:href="@{|/${bdType}/${board.id}${bdListParams}| (page=${page})}" style="font-size: 13px;"
                   th:text="${board.title}">게시글 제목</a>
                <a href="#" class="comment-count" th:text="'[' + ${board.commentCount} + ']'">[댓글 수]</a>
            </td>
            <td class="writer" style="white-space: nowrap;" th:text="${board.writerName}">글쓴이</td>
            <td class="reg-time" style="font-size: 11px;" th:text="${#temporals.format(board.regTime, 'YY.MM.dd')}">
                작성일
            </td>
            <td class="bd-view" style="font-size: 11px;" th:text="${board.view}">조회</td>
            <td class="recommend-count" style="font-size: 11px;" th:text="${board.recommendCount}">추천</td>
        </tr>
        </tbody>
    </table>

    <div class="list-btm clear">
        <!-- 검색 -->
        <div class="form-inline d-flex flex-row float-start m-auto" style="height: 30px; padding-left: 10px; margin-bottom: 10px !important;">
            <select id="search_target" th:field="${boardSearchCond.searchTarget}" class="form-select border-end-0"
                    style="width:auto; font-size: 14px; line-height: 1; border-radius: 3px 0px 0px 3px;">
                <option value="title_content">제목+내용</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="nick_name">작성자</option>
            </select>
            <input type="text" id="search_keyword" th:field="${boardSearchCond.searchKeyword}" class="form-control rounded-0"
                   style="width: 140px; font-size: 13px;">
            <button id="searchBtn" type="button" class="btn btn-light rounded-0 border-start-0 w-25"
                    style="line-height: 1; border: 1px solid #dee2e6; border-radius: 0px 3px 3px 0px !important;">
                <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">

            <li th:unless="*{first}" class="page-item">
                <a th:href="@{'/'+${bdType}+${bdListParams} (page=1)}" class="page-link">
                    <span aria-hidden="true"><i class="fa-solid fa-sm fa-angles-left"></i></span><!-- << -->
                </a>
            </li>
            <li th:unless="*{first}" class="page-item">
                <a th:href="@{'/'+${bdType}+${bdListParams} (page=*{startPage - 1})}"
                   aria-label="Previous" class="page-link">
                    <span aria-hidden="true"><i class="fa fa-sm fa-angle-left"></i></span><!-- < -->
                </a>
            </li>

            <!-- 페이지 번호 -->
            <li class="page-item"
                th:each="pageNum : *{#numbers.sequence(startPage, endPage)}">
                <strong th:if="${boardListPage.pageNumber eq pageNum}" class="page-link active">[[${pageNum}]]</strong>
                <a th:unless="${boardListPage.pageNumber eq pageNum}"
                   th:href="@{'/'+${bdType}+${bdListParams} (page=${pageNum})}" class="page-link">[[${pageNum}]]</a>
            </li>

            <li th:unless="*{last}" class="page-item">
                <a th:href="@{'/'+${bdType}+${bdListParams} (page=*{endPage + 1})}"
                   aria-label='Next' class="page-link">
                    <span aria-hidden="true"><i class="fa fa-sm fa-angle-right"></i></span><!-- > -->
                </a>
            </li>
            <li th:unless="*{last}" class="page-item">
                <a th:href="@{'/'+${bdType}+${bdListParams} (page=*{totalPages})}"
                   class="page-link">
                    <span aria-hidden="true"><i class="fa-solid fa-sm fa-angles-right"></i></span><!-- >> -->
                </a>
            </li>
        </ul>
    </nav>
</div> <!--</container>-->

<th:block th:replace="/fragments/footer.html :: footer"></th:block>

</body>
</html>