<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스프링 게시판 토이 프로젝트</title>

    <!-- Bootstrap -->
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="bootstrap" viewBox="0 0 118 94">
            <title>Bootstrap</title>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
        </symbol>
    </svg>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <style>
        body {
            min-height: 100vh;
        }

        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .container {
            width: 60vw;
        }

        a {
            text-decoration: none;
        }
        .comment-bubble:hover {
            text-decoration: underline;
        }
        .comment-creator:hover {
            text-decoration: underline;
        }

        .comment-meta {
            font-size: 12px;
            margin-bottom: 5px;
        }
        .comment-creator {
            font-family: -apple-system,blinkmacsystemfont,helveticaneue,apple sd gothic neo,sans-serif;
            font-weight: bold;
            color: #444444;
        }
        .comment-date {
            font-family: 'Apple SD Gothic Neo','Malgun Gothic','맑은 고딕',arial,sans-serif;
            color: #888888;
            margin-left: 12px;
        }
        .comment-text {
            font-family: 'Apple SD Gothic Neo','Malgun Gothic','맑은 고딕',arial,sans-serif;
            font-size: 13px;
        }
        .cmd-editor-text {
            height: 5rem;
            font-size: 14px;
            resize: none;
        }
    </style>
</head>

<body class="d-flex flex-column">
<th:block th:replace="/fragments/header.html :: header"></th:block>

<main class="container mt-5">

    <h2 class="board-title fw-bold ps-1"><a href="#" class="text-dark">ㅇㅇ 게시판</a></h2>
    <table class="table table-group-divider mt-3">
        <colgroup>
            <col style="width: 15%"/> <!-- 글 번호 / 작성자 / 제목 -->
            <col style="width: 35%"/>
            <col style="width: 15%"/> <!-- 조회수 / 작성일 -->
            <col style="width: 35%"/>
        </colgroup>
        <tbody>
        <tr>
            <th scope="row">글 번호</th>
            <td th:text="${board.boardIdx}">1</td>
            <th scope="row">조회수</th>
            <td th:text="${board.hitCnt}">10</td>
        </tr>
        <tr>
            <th scope="row">작성자</th>
            <td th:text="${board.creatorId}">회원</td>
            <th scope="row">작성일</th>
            <td th:text="${#temporals.format(board.createdDatetime, 'yyyy-MM-dd HH:mm:ss')}">작성한 날짜</td>
        </tr>
        <tr>
            <th scope="row">제목</th>
            <td colspan="3">
                <input type="text" class="border-0 bg-white fw-bold w-100 px-0"
                       th:value="${board.title}" value="제목은 40자 이내로 입력해주세요" disabled/>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <!--                <textarea title="내용" class="form-control"th:text="${board.content}">게시글 내용</textarea>-->
                <div th:text="${board.content}">
                    게시글 내용 10,000자 이하
                </div>

                <div class="text-center mt-4">
                    <span>
                        <a href="javascript:ajax()" class="link-secondary">
                            <i class="fa-solid fa-thumbs-up fa-lg"></i>
                            <span class="votenow text-dark">0(추천수)</span>
                        </a>
                    </span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div name="comment">
        <div class="form-control" style="border: 1px solid #cccccc;">
            <a href="댓글창 열기/닫기" class="comment-bubble text-dark" style="font-size: 13.5px;">
                댓글 <span class="fw-bold">4</span>개
            </a>
            <!--            <a class="float-end">댓글 새로고침</a></span>-->
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item ">
                <div class="comment-meta">
                    <a href="" class="comment-creator">작성자(회원1)</a>
                    <span class="comment-date fw-light">작성된 시각</span>
                </div>
                <div class="comment-text">첫번째로 달린 댓글</div>
            </li>
            <li class="list-group-item ">
                <div class="comment-meta">
                    <a href="" class="comment-creator">작성자(회원2)</a>
                    <span class="comment-date fw-light">작성된 시각</span>
                </div>
                <div class="comment-text">두번째 댓글</div>
            </li>
            <li class="list-group-item ">
                <div class="comment-meta">
                    <a href="" class="comment-creator">작성자(회원3)</a>
                    <span class="comment-date fw-light">작성된 시각</span>
                </div>
                <div class="comment-text">세번째 댓글</div>
            </li>
            <li class="list-group-item ">
                <div class="comment-meta">
                    <a href="" class="comment-creator">작성자(회원4)</a>
                    <span class="comment-date fw-light">작성된 시각</span>
                </div>
                <div class="comment-text">네번째 댓글</div>
            </li>
        </ul>

        <div class="mb-4" style="border-top: 1px solid #dee2e6;"><!-- 댓글 페이지네이션 생략 --></div>

        <div class="cmt_editor form-control px-3" style="padding-top: 12px; padding-bottom: 20px;">
            <label for="게시글id" class="mb-2">
                <strong style="padding-left: 5px;">댓글 쓰기</strong>
            </label>
            <div class="cmd-editor_write d-flex justify-content-center">
                <textarea id="게시글id" class="cmd-editor-text form-control me-2"
                          placeholder="댓글을 작성하려면 로그인해 주세요. 로그인 하시겠습니까?" onclick=""></textarea>
                <!-- <textarea th:id="" id="comment_write_게시물 번호"></textarea>-->
                <input type="button" value="등록" class="comment_write" style="width: 80px;" disabled="disabled">
            </div>
        </div>
    </div>
</main>

<th:block th:replace="/fragments/footer.html :: footer"></th:block>

</body>
</html>